@import 'tailwindcss';

@theme {
  /* Tipografías Personalizadas */
  --font-title: 'BakerTitle';
  --font-subtitle: 'BakerSubtitle';
  --font-body: 'BakerBody';
  --font-number: 'BakerNumber';

  /* Paleta de Colores solicitada */
  --color-brand-pink: #EB5D8D;
  --color-brand-soft: #F6B8CA;
  --color-brand-coral: #F18663;
  --color-brand-peach: #F3997B;
  --color-brand-choco: #914A32;
  --color-brand-bg: #FFF9F8;

  /* Animaciones extra */
  --animate-float: float 6s ease-in-out infinite;

  /* Custom Mask Utilities (Tailwind 4) */
  --mask-linear-b: linear-gradient(to bottom, black 75%, transparent 100%);
}

@utility mask-b-fade {
  mask-image: var(--mask-linear-b);
  -webkit-mask-image: var(--mask-linear-b);
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* Optimización de renderizado */
html {
  background-color: var(--color-brand-bg);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-choco);
  overflow-x: hidden;
}